:global {
  .lz-cell-text {
    font-size: 12px;
    color: #323232;
    min-height: 50px;
    width: 980px;
    .cell-text {
      display: flex;
      span {
        min-width: 100px;
        // width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-touch-callout: none; /*系统默认菜单被禁用*/
        -webkit-user-select: none; /*webkit浏览器*/
        -khtml-user-select: none; /*早期浏览器*/
        -moz-user-select: none; /*火狐*/
        -ms-user-select: none; /*IE10*/
        user-select: none;
      }
    }
  }
}
